FLASK_ENV=
FLASK_DEBUG=

SECRET_KEY=
JWT_SECRET_KEY=

DATABASE_URL=

MQTT_BROKER=
MQTT_PORT=
MQTT_TOPIC=
MQTT_USERNAME=
MQTT_PASSWORD=

RIG_AUTH_BEARER=5b37b2daef3ec21ad884c955a416ee0bcad43428df5b2f59e9b803dc1c81f97a
